@use "sass:color";
@use "sass:map";
@use "../../styles/colors" as colors;
@use "../../styles/fonts" as fonts;

.main-container {
  display: flex;
  justify-content: space-around;
  .main-wrapper{
    max-width: 966px;
    flex-grow: 5;
    margin-top:40px;
    // At around 900px layout starts to break down and navbar is cramped
    // Add  
    // Possible media to remove searchbar and sidebar?
    // margin can be replaced by flex-growing empty div
    margin-right: 20%;
  }
  & > div{
    padding: 0 10px;
  }
  .side-wrapper{
    // min/max widths depending on cards size in the future
    max-width: 400px;
    min-width: 240px;
    // flex-grow 2 or 3 works best. Adjust in the future to fit sidebar cards
    flex-grow: 2;
    .side-list-wrapper{
        // position sticky in the future
        
    }
  }
}

.main-wrapper.main-wrapper-centered {
  margin-top: auto;
  margin-bottom: auto;
}

.main-think {
  height: 86px;
  background: map.get(colors.$key-colors, white);
  border: 1px solid map.get(colors.$key-colors, razacy-rozowy);
  padding: 14px;
  display: flex;
  align-items: center;
  position: relative;

  &.main-think-open {
    border-bottom: 0;
  }

  .avatar {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 14px;
  }
  .text-think {
    @include fonts.basic-text();
    color: map.get(colors.$key-colors, razacy-rozowy);
  }
  .buttons-think {
    height: 38px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:14px;
    .btn-plus{
        border:1px solid map.get(colors.$key-colors, black);
        border-radius: 50%;
        width: 38px;
        display: flex;
        justify-content: center;
        color: map.get(colors.$key-colors, white);
        background-color: map.get(colors.$key-colors, razacy-rozowy);
    }
  }
}

.dropdown-menu-custom{
    border: 1px solid map.get(colors.$key-colors, black);
    z-index: 1;
}

.dropdown-item.dropdown-item-sort {
    @include fonts.body-modal-warnings-stars-tooltipt-sortby();
    user-select: text;
    pointer-events: none;
    cursor: default;
}

.dropdown-item{
    @include fonts.body-buttons-from-dots-post-date-user();
}

.dropdown-sort{
    margin-top:41px;
}

.btn-sort{
    color:map.get(colors.$key-colors, razacy-rozowy);
    background-color: map.get(colors.$key-colors, white);
    border:none;
    &:hover {
		background-color: color.adjust(map.get(colors.$key-colors,white), $lightness: -20%);
	}
}
.dropdown-item:hover {
    background-color: map.get(colors.$key-colors, razacy-rozowy);
    color: map.get(colors.$key-colors, white);
    cursor: pointer;
    user-select: none;
}

.no-more-posts {
    text-align: center;
    margin: 47px 0;
    @include fonts.title-post-ended-modal-header();
    color: map.get(colors.$key-colors, razacy-rozowy);
}

@media screen and (max-width: 900px) {
  .side-wrapper{
    display: none;
  }
  .main-container .main-wrapper{
    margin: 0;
  }
}

