src/obj/
src/bin/
docker/obj/
docker/bin/
.vscode/
/src/.vs
/.vs
*.user
*.suo
*.vsp
*.vspx
*.cache
.vs
/.vs/Projekt-Zespolowy
/.vs/ProjectEvaluation
/src/.vs/Projekt-Zespolowy
/src/appsettings.Development.json
/src/appsettings.json