@use "sass:color";
@use "sass:map";
@use "./colors.scss" as colors;

@use "../components/hero/hero.scss";
@use "../components/navbar/navbar.scss";
@use "../components/authForms/form.scss";
@use "../components/primitives/primitives.scss";
@use "../components/main/main.scss";
@use "../components/create/create.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

//general
body {
    background-color: map.get(colors.$key-colors, razacy-rozowy);
    overflow:hidden;
}

.root-container {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
}

.centered-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
 
.hero-page {
    background-color: map.get(colors.$key-colors, white);
    overflow:auto;
}