.search-profile-container {
  border: 1px solid #FD2FD9;
  display: flex;
  padding: 16px;
  margin: 16px auto;
  background-color: #fff;
  width: 100%;
  height: auto;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
}

.avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;  // dodaj odstęp między avatarem a tekstem
}

.profile-username {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  color: #FD2FD9;
  width: 252px;
  height: 30px;
  margin: 0;
}

.profile-email {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #888888;
  margin-top: 4px;
}


.community-list {
  max-height: 250px; 
  overflow-y: auto; 
  overflow-x: hidden; 
}


.community-list::-webkit-scrollbar {
  width: 8px;
}

.community-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.community-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.community-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}