@use "sass:color";
@use "sass:map";
@use "../../styles/colors" as colors;
@use "../../styles/fonts" as fonts;

.search-icon{
    color: map.get(colors.$navbar, unchanged-white);
	background-color: map.get(colors.$navbar, unchanged-black);
	border: 1px solid map.get(colors.$border,searchicon-border);
    max-width: 42px;
    justify-content: center;
}

.search-group {
    width: 41.67vw;
    height: 72px;
    .form-control {
        @include fonts.basic-text();
        background-color: map.get(colors.$navbar,searchbar-code-gray-300); // kolor tła inputa
        border: 1px solid map.get(colors.$navbar,border-gray-400);
    }
    .form-control::placeholder {
        color: map.get(colors.$text,unchanged-searchbar-gray-600); // kolor placeholdera;
    }
}

.pfp-wrapper{
    position: relative;
  }
  .change-pfp{
    display: flex;
    bottom: 0;
    right: 20px;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.808);
  }