@use "sass:color";
@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

//key colors
$key-colors: (
	white: rgba(255, 255, 255),
	black: rgba(0, 0, 0),
	razacy-rozowy: rgba(253, 47, 217),
	dark: rgba(38, 45, 52),
	white-dark: rgba(247, 247, 247),
);

// most used unchanged colors
$navbar: (
	border-gray-400: rgba(206, 212, 218),
	searchbar-code-gray-300: rgba(222, 226, 230),
	unchanged-black: rgba(0, 0, 0),
	unchanged-white: rgba(255, 255, 255),
);

// unchanged border colors
$border: (
	searchicon-border: rgba(13, 110, 253),
	input-tag-border-gray-400: rgba(206, 212, 218),
);

// input result
$input: (
	danger: rgba(220, 53, 69),
	success: rgba(25, 135, 84),
);

//photo dragger background
$background-dragger-gray-100: rgba(248,249,250);

//unchanged text colors
$text: (
	obserwowane-groupimage-gray-500: rgba(173,181,189),
	unchanged-searchbar-gray-600: rgba(108,117,125),
	code-number: rgba(133,120,87),
);

//main page colors
$main-page: (
	ciemniejszy-rozowy: rgba(205,31,217),
	jeszcze-ciemniejszy-rozowy: rgba(189,31,217),
	jasny-fioletowy: rgba(173,31,217),
	fioletowy: rgba(161,31,217),
	bardziej-jasny-fioletowy: rgba(189,31,217),
);

//colors for community images
$image:(
	group-1: rgba(0,123,245),
	group-2: rgba(162,177,191),
	group-3: rgba(26,85,145),
	group-4: rgba(21,52,82),
);

//changed text colors
$changed-text:(
	post-counter: rgba(56,73,83),
	dropdown-menu-gray-900: rgba(33,37,41),
	subtitle-main-buttons: rgba(151,152,157),
	hyperlink-checkbox: rgba(13,110,253),
	count-members: rgba(167,167,167),
	date-subtitle-post-comment: rgba(128,128,128),
	input-gray-600: rgba(108,117,125),
	dark-post-counter: rgba(220,225,230),
	dark-dropdown-menu-gray-900: rgba(235,235,235),
	dark-subtitle-main-buttons: rgba(200,205,210),
	dark-hyperlink-checkbox: rgba(90,160,255),
	dark-count-members: rgba(210,210,215),
	dark-date-subtitle-post-comment: rgba(185,190,195),
	dark-input-gray-600: rgba(200,205,210),
);

//changed border colors
$changed-border: (
	focused-border: rgba(134,183,254),
	modal: rgba(222,226,230),
	delete-user-gray-400: rgba(206,212,218),
	dark-focused-border: rgba(80,138,209),
	dark-modal: rgba(60,70,80),
	dark-delete-user-gray-400: rgba(70,80,90),
);

//changed scrollbar colors
$changed-scrollbar: (
	main: rgba(241,241,241),
	thumb: rgba(193,193,193),
	arrows: rgba(80,80,80),
	dark-main: rgba(74,80,88),
	dark-thumb: rgba(80,90,100),
	dark-arrows: rgba(170,180,190),
);

//changed background for image upload colors
$changed-background: (
	modal-image: rgba(247,247,247),
	dark-modal-image: rgba(45,55,65),
);

//changed button colors
$changed-button: (
	send-photo: rgba(108,117,125),
	dark-send-photo: rgba(156,164,172),
);

//changed icon down in modal colors
$changed-icon: (
	down-modal-gray-800: rgba(52,58,64),
	dark-down-model-gray-800: rgba(190,195,200),
);

:root {
	--razacy-rozowy: #{map.get($key-colors, razacy-rozowy)};
	@each $key, $value in $main-page {
	  --#{$key}: #{$value};
	}
  }

// Base mixin for shared text styles
@mixin base-text-style($font-size, $font-weight, $line-height: null, $letter-spacing: null, $text-decoration: none) {
	font-size: $font-size;
	font-family: Inter;
	font-weight: $font-weight;
	font-style: normal;
	@if $line-height {
	  line-height: $line-height;
	}
	@if $letter-spacing {
	  letter-spacing: $letter-spacing;
	}
	text-decoration: $text-decoration;
	text-transform: none;
  }
  
  // Specific mixins extending the base mixin
  @mixin basic-text() {
	@include base-text-style(16px, 400, 150%);
  }
  
  @mixin title-login-register-password-subtitle() {
	@include base-text-style(32px, 500, 120%);
  }
  
  @mixin title-login-register-vibe-title() {
	@include base-text-style(48px, 700, 150%);
  }
  
  @mixin title-navbar-subtitle() {
	@include base-text-style(32px, 400, 150%);
  }
  
  @mixin title-subheader() {
	@include base-text-style(20px, 800, 150%);
  }
  
  @mixin title-post-title() {
	@include base-text-style(20px, 700);
  }
  
  @mixin title-post-ended-modal-header() {
	@include base-text-style(20px, 500, 120%);
  }
  
  @mixin title-settings-headers() {
	@include base-text-style(20px, 600, 28px);
  }
  
  @mixin title-header-report-list-createpost-profile() {
	@include base-text-style(24px, 400, 120%);
  }
  
  @mixin headline-navbar-title() {
	@include base-text-style(64px, 700, 150%);
  }
  
  @mixin display-main-page-title() {
	@include base-text-style(104px, 700, 150%);
  }
  
  @mixin display-main-page-subtitle() {
	@include base-text-style(48px, 400, 150%);
  }
  
  @mixin button-hyperlink() {
	@include base-text-style(16px, 400, 150%, null, underline);
  }
  
  @mixin button-welcome-button-user-name() {
	@include base-text-style(20px, 400, 150%);
  }
  
  @mixin button-blue-response-buttons() {
	@include base-text-style(12px, 300, null, 0.02em);
  }
  
  @mixin button-post-like-com-save-share() {
	@include base-text-style(14px, 500);
  }
  
  @mixin button-general-followed-buttons() {
	@include base-text-style(20px, 400, 28px);
  }
  
  @mixin body-post-content() {
	@include base-text-style(16px, 400, 25px);
  }
  
  @mixin body-main-comment-text() {
	@include base-text-style(14px, 400, 25px, 0.05em);
  }
  
  @mixin body-subcomment-text() {
	@include base-text-style(12px, 300, 25px, 0.05em);
  }
  
  @mixin body-like-dislike-counters() {
	@include base-text-style(12px, 300, null, 0.02em);
  }
  
  @mixin body-main-buttons-subtitle-and-follow-counter() {
	@include base-text-style(9px, 600, 14px);
  }
  
  @mixin body-modal-warnings-stars-tooltipt-sortby() {
	@include base-text-style(14px, 400, 150%);
  }
  
  @mixin body-roboto-code-and-number() {
	font-size: 14px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	line-height: 18px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
  }
  
  @mixin body-members-counter() {
	@include base-text-style(12px, 500);
  }
  
  @mixin body-user-stats() {
	@include base-text-style(16px, 500, 26px);
  }
  
  @mixin body-user-stats-results() {
	@include base-text-style(16px, 400, 26px);
  }
  
  @mixin body-buttons-from-dots-post-date-user() {
	@include base-text-style(12px, 400, 150%);
  }
  
  @mixin body-notifications-subtitle() {
	@include base-text-style(13px, 400, null, 0.05em);
  }
  
  @mixin body-main-buttons-title() {
	@include base-text-style(12px, 600, 18px);
  }
  
  @mixin body-communities-names() {
	@include base-text-style(16px, 600);
  }
  
  @mixin body-followed-header() {
	@include base-text-style(16px, 500);
  }
  
  @mixin body-settings-password-label-user-name() {
	@include base-text-style(16px, 500, 150%);
  }
  
  @mixin useless-swap-label-10() {
	@include base-text-style(10px, 400, 100%);
  }
  
  @mixin useless-scrollbar() {
	@include base-text-style(4px, 400);
  }

//customized classes
//main_page
.background-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.main-page-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center; // Wyśrodkowanie tekstu
}
  
.main-page-title {
	@include display-main-page-title();
	display: flex;
	align-items: center;
	justify-content: center;
	color: map.get($key-colors, white);
  
	i {
	  font-size: 104px;
	  margin-right: 10px;
	}
}

.main-page-subtitle {
	@include display-main-page-subtitle();
	color: map.get($key-colors, white);
}

.btn-welcome {
	@include button-welcome-button-user-name();
	width: 393px;
	border-radius: 60px;
	margin-top:31px;
	background-color: map.get($key-colors, black);
	border: 1px solid map.get($key-colors, white);
	color : map.get($key-colors, white);
}

.circle-icon {
	position: absolute;
	width: 32px;
	height: 32px;
	font-size: 32px;
	color: map.get($key-colors, black);
	transform: translate(-50%, -50%);
	z-index:1
}

//general
body {
	background-color: map.get($key-colors, razacy-rozowy);
	overflow:hidden;
}
 
.main-page {
	background-color: map.get($key-colors, white);
	overflow:auto;
}
//navbar
.btn-register {
	width: 190px;
	height: 72px;
	margin-right: 2vw;
	background-color: map.get($key-colors, black);
	color: map.get($key-colors, white);
	border: 1px solid map.get($key-colors, white);
};
  
.btn-login {
	width: 120px;
	height: 72px;
	background-color: map.get($key-colors, white);
	color: map.get($key-colors, black);
	border: 1px solid map.get($key-colors, black);
};

.btn-register,
.btn-login {
	position: relative;
	z-index:1
};

.navbar {
	padding-right: 2vw;
	background-color: transparent;
};

.navbar-main {
	background-color: map.get($key-colors, razacy-rozowy);
}

.left-sidebar {
	width: 27vw; /* Szerokość w jednostkach vw */
	height: 100%; /* Pełna wysokość */
	color: map.get($key-colors, white);
}

.navbar-subtitle {
	@include title-navbar-subtitle();
}

.headline-navbar-title {
	@include headline-navbar-title();
}

//login i register