@use "sass:color";
@use "sass:map";
@use "../../styles/colors" as colors;

.modal-custom {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 26vw;
  max-height: 764px;
  overflow: visible;
  z-index: 2;
  display: block;
  padding-top: 28px;

  .modal-dialog.modal-dialog-custom {
    margin: 0; 
    margin-left: auto;
  }
}

.create-post-container {
    min-height: 771px;
    background: map.get(colors.$key-colors, white);
    border: 1px solid map.get(colors.$key-colors, razacy-rozowy);
    display: flex; 
    flex-direction: column;
    border-radius:0;
    border-top:none;                  
}
.create-post-content {
    width:100%;
    padding: 16px;
    flex: 1 1 auto;
    border-bottom: 1px solid map.get(colors.$key-colors, razacy-rozowy);
}

.create-post-footer {
    background: white;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}

.btn-publish{
  background-color: map.get(colors.$key-colors,razacy-rozowy);
  color: map.get(colors.$key-colors, white);
  border: 1px solid map.get(colors.$key-colors, black);
  	&:hover {
		background-color: color.adjust(map.get(colors.$key-colors,razacy-rozowy), $lightness: -20%);
	}
}

.btn-deny{
  background-color: map.get(colors.$key-colors,black);
  color: map.get(colors.$key-colors, white);
  border: 1px solid map.get(colors.$key-colors, razacy-rozowy);
  	&:hover {
		background-color: color.adjust(map.get(colors.$key-colors,black), $lightness: -20%);
	}
}